<p>
    This is an implementation of FizzBuzz written in Scala, using the Play! framework.  To have the application count
    to 15, make a request to the uri: <pre>/fizzbuzz</pre>
    You can add a number to the end of the uri to specify how high
    FizzBuzzPlay should count: <pre>/fizzbuzz/100</pre>
    To reieve the count a JSON result, just simply add it to the end of the uri
    as such: <pre>/fizzbuzz/100/json</pre>
</p>
<p>
    If you're interested, the code for this project can be found here:
    <a href="https://github.com/locatedtaco/FizzBuzzPlay">https://github.com/locatedtaco/FizzBuzzPlay</a>
</p>
